<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="PayXml" value="D:\Visual Studio 2010 Workspace\海南直通车\trunk\源码\TygaSoft\Pay.Web\App_Data\Pay.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
  </system.webServer>
  <rewriter file="~/App_Data/UrlRewriter.xml"/>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <netMsmqBinding>
        <binding durable="false" exactlyOnce="false">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/sysqueue" binding="netMsmqBinding" contract="IHnztcSys"/>
    </client>
  </system.serviceModel>
</configuration>
