<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IECShop" />
            <binding name="BasicHttpBinding_IHnztc" />
            <binding name="BasicHttpBinding_IWebSecurity" />
          </basicHttpBinding>
          <netMsmqBinding>
            <binding name="NetMsmqBinding_IHnztcSys">
              <security mode="None" />
            </binding>
            <binding name="NetMsmqBinding_IUserBaseQueue">
              <security mode="None" />
            </binding>
            <binding name="NetMsmqBinding_IAccessStatisticQueue">
              <security mode="None" />
            </binding>
          </netMsmqBinding>
        </bindings>
        <client>
          <endpoint address="http://service.tygaweb.com:18881/Services/ECShopService/" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IECShop" contract="IECShop"
              name="BasicHttpBinding_IECShop" />
          <endpoint address="http://service.tygaweb.com:18881/Services/HnztcService/" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IHnztc" contract="IHnztc"
              name="BasicHttpBinding_IHnztc" />
          <endpoint address="http://service.tygaweb.com:18881/Services/HnztcSecurityService/"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebSecurity"
              contract="IWebSecurity" name="BasicHttpBinding_IWebSecurity" />
          <endpoint address="net.msmq://localhost/private/sysqueue" binding="netMsmqBinding"
              bindingConfiguration="NetMsmqBinding_IHnztcSys" contract="IHnztcSys"
              name="NetMsmqBinding_IHnztcSys" />
          <endpoint address="net.msmq://localhost/private/userbasequeue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IUserBaseQueue"
                contract="IUserBaseQueue" name="NetMsmqBinding_IUserBaseQueue" />
          <endpoint address="net.msmq://localhost/private/accessstatisticqueue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IAccessStatisticQueue"
                contract="IAccessStatisticQueue" name="NetMsmqBinding_IAccessStatisticQueue" />
        </client>
    </system.serviceModel>
</configuration>