<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="toolbarSelectProduct" style="padding:5px;">
        关键字：<input type="text" id="txtKeyword" maxlength="50" class="txt" />
        <select id="cbtCategory" class="easyui-combotree" style="width:180px;">
        </select>
        <select id="cbtBrand" class="easyui-combotree" style="width:180px;">
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="AddAdvertisement.SearchDgProduct()">查 詢</a>
    </div>
    <table id="dlgDgProduct" class="easyui-datagrid" title="商品列表" data-options="url:'/Handlers/Admin/ECShop/HandlerProduct.ashx',
        queryParams: {
		    reqName: 'GetJsonForDatagrid',keyword: $.trim($('#txtKeyword').val()),categoryId: $('#cbtCategory').combotree('getValue'),brandId:$('#cbtBrand').combotree('getValue')
	    },
        rownumbers:true,pagination:true,fit:true,fitColumns:true,singleSelect:true,toolbar:'#toolbarSelectProduct'">
    <thead>
        <tr>
            <th data-options="field:'Id',checkbox:true"></th>
            <th data-options="field:'ImageUrl',formatter: AddAdvertisement.FImageUrl">商品</th>
            <th data-options="field:'ProductName'">名称</th>
            <th data-options="field:'SubTitle'">副标题</th>
            <th data-options="field:'OriginalPrice'">原价</th>
            <th data-options="field:'ProductPrice'">现价</th>
            <th data-options="field:'Discount'">折扣率</th>
            <th data-options="field:'StockNum'">库存</th>
            <th data-options="field:'CustomMenuName'">展现区</th>
        </tr>
    </thead>
    </table>

    <script type="text/javascript">
        $(function () {
            AddAdvertisement.CbtCategory('cbtCategory');
            AddAdvertisement.CbtBrand('cbtBrand');
        })
    </script>
    
</body>
</html>
