<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
	</configSections>
	<connectionStrings>
		<add name="SqlProviderConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcDb" providerName="System.Data.SqlClient"/>
		<add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcAspnetDb" providerName="System.Data.SqlClient"/>
		<add name="ShopDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcShopDb" providerName="System.Data.SqlClient"/>
		<add name="OrdersDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcOrdersDb" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="AESEncryptKey" value="Hnztc.0d2de3f8-8b0a-4c37-ae26-765c106a06cf"/>
		<add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>
		<add key="FilesRoot" value="~/FilesRoot"/>
		<add key="ProductPictures" value="~/FilesRoot/ProductPictures"/>
		<add key="SizePictures" value="~/FilesRoot/SizePictures"/>
		<add key="ServicePictures" value="~/FilesRoot/ServicePictures"/>
		<add key="CategoryPictures" value="~/FilesRoot/CategoryPictures"/>
		<add key="ContentPictures" value="~/FilesRoot/ContentPictures"/>
		<add key="BPicture" value="800,800"/>
		<add key="MPicture" value="350,350"/>
		<add key="SPicture" value="50,50"/>
		<add key="IsCteateProductPictureThumbnail" value="1"/>
		<add key="IsCteateSizePictureThumbnail" value="0"/>
		<add key="IsCteateServicePictureThumbnail" value="1"/>
		<add key="IsCteateCategoryPictureThumbnail" value="1"/>
		<add key="IsCteateContentPictureThumbnail" value="1"/>
		<!-- Enable data caching -->
		<add key="EnableCaching" value="false"/>
		<add key="CacheDependencyAssembly" value="TygaSoft.TableCacheDependency,TygaSoft.TableCacheDependency"/>
		<add key="CacheDatabaseName" value="TygaDb"/>
		<add key="CustomerLevelCacheDuration" value="12"/>
		<add key="SysEnumCacheDuration" value="12"/>
		<add key="ProvinceCityCacheDuration" value="12"/>
		<add key="CategoryCacheDuration" value="12"/>
		<add key="ProductCacheDuration" value="12"/>
		<add key="ItemCacheDuration" value="12"/>
		<add key="KeywordCacheDuration" value="12"/>
		<add key="ContentCacheDuration" value="12"/>
		<add key="CustomerLevelTableDependency" value="CustomerLevel,"/>
		<add key="SysEnumTableDependency" value="SysEnum"/>
		<add key="ProvinceCityTableDependency" value="ProvinceCity"/>
		<add key="CategoryTableDependency" value="Category"/>
		<add key="ProductTableDependency" value="Product,Category"/>
		<add key="ItemTableDependency" value="Product,Category,Item"/>
		<add key="KeywordTableDependency" value="SearchKeyword"/>
		<add key="ContentTableDependency" value="ContentType,ContentDetail"/>
		<!-- processing options (Asynch/Synch) -->
		<add key="StrategyAssembly" value="TygaSoft.BLL"/>
		<add key="OrderStrategyClass" value="TygaSoft.BLL.OrderAsynchronous"/>
		<!-- Msmq -->
		<add key="MsmqMessaging" value="TygaSoft.MsmqMessaging,TygaSoft.MsmqMessaging"/>
		<add key="OrdersMsmqPath" value="FormatName:DIRECT=OS:cafuc258-pc\private$\OrdersQueue"/>
		<!--<add key="OrdersMsmqPath" value="FormatName:DIRECT=OS:ay130916172011z\private$\OrdersQueue"/>-->
		<add key="EmailMsmqPath" value="FormatName:DIRECT=OS:cafuc258-pc\private$\EmailQueue"/>
		<!--<add key="EmailMsmqPath" value="FormatName:DIRECT=OS:ay130916172011z\private$\EmailQueue"/>-->
		<!--电子邮件发送模板-->
		<add key="EmailForRegister" value="~/Templates/Html/EmailForRegister.htm"/>
		<add key="EmailForResetPsw" value="~/Templates/Html/EmailForResetPsw.htm"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms defaultUrl="/a/t.html" loginUrl="/t.html" name="HnztcAspNetApp" path="/" timeout="30" protection="All" slidingExpiration="true" requireSSL="false" cookieless="UseCookies"/>
		</authentication>
		<membership defaultProvider="MsSqlMembershipProvider" hashAlgorithmType="SHA1">
			<providers>
				<clear/>
				<add name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="HnztcWeb" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^([0-9a-zA-Z]+){6,30}$"/>
			</providers>
		</membership>
		<roleManager defaultProvider="MsSqlRoleProvider" enabled="true" cookieName="HnztcWebRoleCookie" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieTimeout="150" createPersistentCookie="false" cacheRolesInCookie="true" maxCachedResults="25">
			<providers>
				<clear/>
				<add name="MsSqlRoleProvider" connectionStringName="AspnetDbConnString" applicationName="HnztcWeb" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<anonymousIdentification enabled="false"/>
		<profile automaticSaveEnabled="false" enabled="false" defaultProvider="MsSqlProfileProvider" inherits="CustomProvider.CustomProfileCommon">
			<providers>
				<clear/>
				<add name="MsSqlProfileProvider" type="CustomProvider.MsSqlProfileProvider" connectionStringName="AspnetDbConnString" applicationName="HnztcWeb" description="海南直通车"/>
			</providers>
		</profile>
		<caching>
			<sqlCacheDependency enabled="false" pollTime="10000">
				<databases>
					<add name="HnztcDb" connectionStringName="SqlProviderConnString" pollTime="10000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="站点地图默认提供程序." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
			</providers>
		</siteMap>
		<pages>
			<controls>
				<!--<add tagPrefix="asp" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>-->
			</controls>
		</pages>
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
			<!--<add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>-->
		</httpModules>
		<httpCookies httpOnlyCookies="true"/>
	</system.web>
	<!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
  </system.webServer>-->
	<rewriter file="~/App_Data/urlrewriter.xml"/>
	<!--<rewriter></rewriter>-->
</configuration>
