<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TeamDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcTeamDb;" providerName="System.Data.SqlClient"/>
    <add name="SqlProviderConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcDb" providerName="System.Data.SqlClient"/>
    <add name="ShopDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcShopDb" providerName="System.Data.SqlClient"/>
    <add name="OrdersDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcOrdersDb" providerName="System.Data.SqlClient"/>
    <add name="SystemDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcSystemDb" providerName="System.Data.SqlClient"/>
    <add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcAspnetDb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>