<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <connectionStrings>
    <add name="TeamDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcTeamDb;" providerName="System.Data.SqlClient"/>
    <add name="SqlProviderConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcDb;" providerName="System.Data.SqlClient"/>
    <add name="ShopDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcShopDb;" providerName="System.Data.SqlClient"/>
    <add name="OrdersDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcOrdersDb;" providerName="System.Data.SqlClient"/>
    <add name="SystemDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcSystemDb" providerName="System.Data.SqlClient"/>
    <add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcAspnetDb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>
    <add key="WebSiteHost" value="http://www.tygaweb.com/"/>

    <!-- 上传文件根目录 -->
    <add key="FilesRoot" value="D:\Publish\TygaSoft\TeamWeb\FilesRoot"/>
    <!-- 上传文件大小限制 -->
    <add key="UploadFileSize" value="5120000"/>
    <!-- 生成缩略图 -->
    <add key="PC" value="800*800,350*350,50*50"/>
    <add key="Android" value="350*350,150*150,60*60"/>
    <add key="IOS" value="350*350,150*150,60*60"/>

  </appSettings>
  <system.serviceModel>
    <services>
      <service name="TygaSoft.WcfService.HnztcTeamService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://112.74.86.148:18881/Services/HnztcTeamService/" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="basicHttpBinding" bindingConfiguration="binding_UploadService" contract="TygaSoft.WcfService.IHnztcTeam"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
        <binding name="binding_UploadService" maxReceivedMessageSize="5120000">
          <readerQuotas maxStringContentLength="4096000"/>
        </binding>
      </basicHttpBinding>
      <netMsmqBinding>
        <binding durable="false" exactlyOnce="false">
          <security mode="None">
            <message clientCredentialType="None" />      
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="http://112.74.86.148:18881/Services/HnztcSecurityService/" binding="basicHttpBinding" contract="IWebSecurity" />
      <endpoint address="net.msmq://localhost/private/sysqueue" binding="netMsmqBinding" contract="IHnztcSys" />
    </client>
  </system.serviceModel>

</configuration>