<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="ppCategoryPictureWrap" class="pd10">
        <div class="row_col w150" style="display:none;">
            <img src="" alt="" width="150px" height="150px" />
            <input type="hidden" />
        </div>
    </div>
    
    <span class="clr"></span>
    <div id="ppCategoryPicture" class="mt10"></div>
    
    <div id="dlgCategoryPictureUpload" style="padding:10px;"></div>
    
    <script type="text/javascript">
        $(function () {
            CategoryPicture.Init();
        })
    </script>
</body>
</html>
