<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<form id="dlgFm" method="post">
    <div class="row">
        <span class="fl rl">所属服务分类：</span>
        <div class="fl ml10">
            <span id="lbParent"></span>
            <input type="hidden" id="hParentId" name="hParentId" />
        </div>
        <span class="clr"></span>
    </div>
    <div class="row mt10">
        <span class="fl rl"><b class="cr">*</b>名称：</span>
        <div class="fl ml10">
            <input type="text" id="txtName" name="txtName" tabindex="1" maxlength="256" class="easyui-validatebox txt" data-options="required:true" />
        </div>
        <span class="clr"></span>
    </div>
    <div class="row mt10">
        <span class="fl rl"><b class="cr">*</b>图片：</span>
        <div class="fl ml10">
            <img id="imgServicePicture" src="../../Images/nopic.gif" alt="上传图片" width="227px" height="143px" onclick="ServicePicture.DlgSingle('imgServicePicture')" />
            <input type="hidden" /><br />
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="ServicePicture.DlgSingle('imgServicePicture')">选 择</a>
        </div>
        <span class="clr"></span>
    </div>
    <div class="row mt10">
        <span class="fl rl">排序：</span>
        <div class="fl ml10">
            <input type="text" id="txtSort" name="txtSort" tabindex="4" maxlength="9" class="easyui-validatebox txt" data-options="validType:'int'" />
        </div>
        <span class="clr"></span>
    </div>
    <input type="hidden" id="hId" value="" />
</form>

<div id="dlgServicePicture" class="easyui-dialog" title="选择图片" data-options="iconCls:'icon-save',closed:true,modal:true,width:$(window).width()*0.9,height:$(window).height()*0.9,
href:'/Templates/DlgServicePicture.htm',buttons: [
    {
	    id:'btnCancelSelectServicePicture',text:'关闭',iconCls:'icon-cancel',handler:function(){
		    $('#dlgServicePicture').dialog('close');
	    }
    }],toolbar: [{
                id: 'btnDlgUploadServicePicture',text: '上 传',iconCls: 'icon-add',handler: function () {
                    ServicePicture.DlgUpload();
                }
            }]
    " style="padding:10px">

    
</div>

<script type="text/javascript">
    var dlgFun = {

        Add: function (node) {
            $('#dlgFm').form('clear');
            $('#lbParent').text(node.text);
            $('#hParentId').val(node.id);
            $('#hId').val("");
            $("#hCurrExpandNode").val(node.id);
            $("#imgServicePicture").attr("src", "../../Images/nopic.gif");
            $("#imgServicePicture").parent().find("input[type=hidden]").val("");
        },
        Edit: function (node, t) {
            $('#dlgFm').form('clear');
            $("#imgServicePicture").attr("src", "../../Images/nopic.gif");
            $("#imgServicePicture").parent().find("input[type=hidden]").val("");
            var parentName = "";
            var parentNode = t.tree('getParent', node.target);
            if (parentNode) parentName = parentNode.text;
            $('#lbParent').text(parentName);
            $('#txtName').val(node.text);
            $('#txtSort').val(node.attributes.Sort);
            $("#imgServicePicture").attr("src", node.attributes.PictureUrl);
            $("#imgServicePicture").parent().find("input[type=hidden]").val("src", node.attributes.PictureId);
            $('#hParentId').val(node.attributes.ParentId);
            $('#hId').val(node.id);
            $("#hCurrExpandNode").val(node.id);
        }
    }
</script>

</body>
</html>
