<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=HnztcAspnetDb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

  </appSettings>
  <system.web>
    <membership defaultProvider="MsSqlMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="HnztcWeb" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^([0-9a-zA-Z]+){6,30}$"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MsSqlRoleProvider" enabled="true" cookieName="HnztcWebRoleCookie" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieTimeout="150" createPersistentCookie="false" cacheRolesInCookie="false" maxCachedResults="25">
      <providers>
        <clear/>
        <add name="MsSqlRoleProvider" connectionStringName="AspnetDbConnString" applicationName="HnztcWeb" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TygaSoft.WcfSecurityService.WebSecurityService" behaviorConfiguration="WebSecurityServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:18881/Services/HnztcSecurityService/"/>
          </baseAddresses>
        </host>
        <endpoint address ="" binding="basicHttpBinding" contract="TygaSoft.WcfSecurityService.IWebSecurity"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebSecurityServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
    </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
